<div>
    <h2>Worksheets</h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-md-4">
            <button class="btn btn-primary" ui-sref="worksheet.new">
                <span class="glyphicon glyphicon-flash"></span> <span>Create a new Worksheet</span>
            </button>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th jh-sort-by="id"><span>ID</span><span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="userId"><span>UserId</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="day"><span>Day</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="start_hour"><span>StartHour</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="end_hour"><span>EndHour</span> <span class="glyphicon glyphicon-sort"></span></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="worksheet in worksheets">
                <td><a ui-sref="worksheet.detail({id:worksheet.id})">{{worksheet.id}}</a></td>
                <td>{{worksheet.userId}}</td>
                <td>{{worksheet.day}}</td>
                <td>{{worksheet.startHour}}</td>
                <td>{{worksheet.endHour}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="worksheet.detail({id:worksheet.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-xs hidden-sm"></span>
                        </button>
                        <button type="submit"
                                ui-sref="worksheet.edit({login:user.login})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-xs hidden-sm"></span>
                        </button>
                        <button type="submit"
                                ui-sref="worksheet.delete({login:user.login})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-xs hidden-sm"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav>
        <ul class="pagination">
            <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
            <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
            <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
            <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
            <li class="active"><a>{{page + 1}}</a></li>
            <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
            <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
            <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
            <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
        </ul>
    </nav>
    <!--<div class="text-center">-->
        <!--<jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>-->
        <!--<uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page"-->
                        <!--ng-change="vm.transition()"></uib-pagination>-->
    <!--</div>-->
</div>
